{% extends "layout.html.j2" %}
{% block css %}
    <link href="css/contact.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <section class="jumbotron text-center">
                    <div class="container">
                        <h1 class="jumbotron-heading">Contact Us</h1>
                        <p class="lead text-muted">We would love to hear from you. A little too much.</p>
                    </div>
                </section>

                <div class="album py-5 bg-light">
                    <div class="container">

                        <div class="row">
                            <p>Email us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}