{% extends "layout.html.j2" %}
{% block css %}
    <link href="css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="cover-heading">Multi platform, multi media.</h1>
    <p class="lead">Welcome to the future of Australian content</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
{% endblock %}
