{% extends "layout.html.j2" %}
{% block css %}
    <link href="css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row h-100">
        <div class="text-center col-sm-12 my-auto">
            <h1 class="cover-heading">Multi platform, multi media.</h1>
            <p class="lead">Welcome to the future of Australian content</p>
            <p class="lead">
                <a href="shows" class="btn btn-lg btn-secondary">Our Content</a>
            </p>
        </div>
    </div>
{% endblock %}
