{% extends "layout.html.j2" %}
{% block css %}
    <link href="css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row h-100 splash">
        <div class="text-center col-sm-12 my-auto">
            <img src="images/logo.png" style="max-width: 15%">
            <h1 class="cover-heading">Multi platform, multi media.</h1>
            <p class="lead">Welcome to the future of Australian content</p>
            <p class="lead">
                <a href="#shows" class="btn btn-lg btn-secondary">Our Content</a>
            </p>
        </div>
    </div>
    <div id="shows" class="row shows">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron shadow-lg">
                <div class="container">
                    <h1 class="display-4">Our Content</h1>
                    <p class="lead">Leading the charge on next generation media content.</p>
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                Dimension Media Master Podcast Feed now available. <a href="https://pod.link/1447037359" class="alert-link">Subscribe here</a>.
            </div>
            <div class="row">
                {% for show in page["shows"] %}
                    <div class="col-sm-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top"
                                 src="images/{{ show["image"] }}.jpg"
                                 alt="{{ show["name"] }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ show["name"] }}{% if show["new"] %}
                                    <span class="badge badge-primary">New</span>{% endif %}</h5>
                                <p class="card-text">{{ show["description"] }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ show['type'] or 'Podcast' }}</small>
                                <a href="{{ show["link"]['url'] }}"
                                   role="button"
                                   class="btn btn-sm btn-outline-secondary float-right{% if show["link"]['disabled'] %} disabled{% endif %}"
                                >
                                    {{ show["link"]["title"] }}
                                </a>

                                {% if show["link2"] %}
                                    <a href="{{ show["link2"]['url'] }}"
                                       role="button"
                                       class="btn btn-sm btn-outline-secondary float-right mr-1{% if show["link2"]['disabled'] %} disabled{% endif %}"
                                    >
                                        {{ show["link2"]["title"] }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
