<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>Dimension Media</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
<header>
    <div class="container">
        <div class="row pt-3">
            <div class="offset-md-2 col-md-8 my-1">
                <h3 class="masthead-brand">Dimension Media</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link {% if page['name']=='index' %}active{% endif %}" href="index">Home</a>
                    <a class="nav-link {% if page['name']=='contact' %}active{% endif %}" href="contact">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<main role="main" class="cover">
    {% block content %}{% endblock %}
</main>

<footer class="mastfoot">
    <div>
        {% block footer %}{% endblock %}
    </div>
</footer>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
