{% extends "layout.html.j2" %}
{% block css %}
    <link href="css/shows.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <section class="jumbotron text-center">
                    <div class="container">
                        <h1 class="jumbotron-heading">The Stable</h1>
                        <p class="lead text-muted">The projects that we lovingly raise and care for as if they were our
                            own.
                            Find something that tickles you fancy.</p>
                    </div>
                </section>

                <div class="album py-5 bg-light">
                    <div class="container">

                        <div class="row">
                            {% for show in page["shows"] %}
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <img class="card-img-top"
                                             src="images/{{ show["image"] }}.jpg"
                                             alt="{{ show["name"] }}">
                                        <h5 class="show-header">{{ show["name"] }}</h5>
                                        <div class="card-body">
                                            <p class="card-text">{{ show["description"] }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary" href="{{ show["link"] }}" role="button">Subscribe</a>
                                                </div>
                                                <small class="text-muted">Podcast</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}